:root {
  --header-height: 70px; 
  --container-height: calc(100vh - var(--header-height)); 
  --container-background: rgba(200, 200, 200, 0.1);
  --svg-fill: #4d577b;

  --color-main: #42547a;
  --color-white: white;
  --color-blue: #0574ff;
  --color-blue-light:  #3a89ed;
  --color-grey: rgb(176, 176, 176);
  --color-light: rgb(213 213 213);
  --color-super-light: #f6f6f6;

  --size-container: 1220px;
  --size-container-side-left: 200px;
  --size-container-side-right: 250px;
}