.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;

  background-color: rgb(180, 180, 180, 15%);
}

.friend + .friend {
  margin-top: 5px;
}


/* Body */
.friend__body {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.friend__body h3 {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
}

.friend__body p {
  font-size: 12px;
  color: var(--color-grey);
}


/* Info */
.friend__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.friend__info span {
  color: var(--color-grey);
  font-size: 12px;
}

.friend__info i {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;

  padding: 5px;
  background-color: tomato;
  color: var(--color-white);
  border-radius: 5px;
}

