.nav .body {
  margin-bottom: 5px;
}

.body {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.2s ease-in;
}
.body:hover {
  background-color: #dadbdf;
}

.body svg {
  width: 17px;
  height: 17px;
  fill: var(--svg-fill);
  margin-right: 10px;
  transition: fill 0.3s ease-in;
}

.body h3 {
  flex: 1;
  transition: color 0.2s ease-in;
}

/* Active Link */
.active .body {
  background: #4d577b;
}

.active .body svg {
  fill: white;
}

.active .body h3 {
  color: white;
}

/* Notificaton count */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  width: 20px;
  height: 20px;
  background-color: tomato;
  color: var(--color-white);
  border-radius: 50%;
  overflow: hidden;
  ;
}

/* Media */
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  .nav a:nth-child(5),
  .nav a:nth-child(7) {
    display: none;
    background-color: red;
  }
  .nav a {
    max-width: 50px;
    width: 100%;
  }
  .nav .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    border-radius: 0;
  }
  .body svg {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .body h3 {
    display: none;
  }

  /* Active Link */
  .active .body {
    background: transparent;
    border-bottom: 2px solid;
    border-color: var(--color-fill);
  }
  .active .body h3 {
    color: var(--color-fill);
  }
  .active svg {
    fill: var(--color-fill);
  }
}
