.message {
  display: flex;
  height: calc(100vh - 75px);
}


.message__friends {
  padding: 10px;
  overflow: auto !important;
}

.message__friends::-webkit-scrollbar {
  width: 0;
}


/* Media */
@media screen and (max-width: 576px) {
  .message {
    grid-template-columns: 1fr
  }

  .message__friends {
    display: none;
    gap: 0;
  }
}