.message {
  display: grid;
  grid-template-columns: 1fr 28%;
  gap: 20px;
  height: calc(100vh - 75px);
}


.message__friends {
  padding: 10px;
  overflow: auto !important;
}

.message__friends::-webkit-scrollbar {
  width: 0;
}