.follow__bottom {
  margin-top: 20px;
}


/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.header__title {
  font-size: 14px;
  font-weight: 500;
}

.header__subtitle {
  font-size: 12px;
  margin: 5px 0 8px 0;
  color: var(--color-grey);
}

.header__network a {
  margin-right: 10px;
} 

.header__network a svg {
  width: 15px;
  height: 15px;
  fill: var(--color-main);
}


/* Bottom */
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}