/* Notificaton count */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  width: 20px;
  height: 20px;
  background-color: tomato;
  color: var(--color-white);
  border-radius: 50%;
  overflow: hidden;
}