.wrapper {
  width: 100%;
  
  background-color: transparent;
}

.form {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  
  border: 1px solid #dadbdf;
  border-radius: 10px;
  overflow: hidden;
}

.form__input {
  border: none;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
}

.form__input::placeholder {
  opacity: 0.7;
}

.form__btn {
  width: 30px;
  height: 30px;
  margin-right: 5px;

  background-image: url('./../../../assets/image/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 67%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form__btn:active {
  border: 1px solid #dadbdf;
  border-radius: 5px;
}