.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--color-super-light);
  background-color: var(--color-super-light);
  border-radius: 10px;
  overflow: hidden;
}

.wrapper input {
  border: none;
  font-size: 15px;
  width: 100%;
  background-color: transparent;
  line-height: 1.7;
}

.wrapper input::placeholder {
  opacity: 0.7;
}