.nav .nav__body {
  margin-bottom: 10px;
}

.nav__body {
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 10px;
  transition: background 0.2s ease-in;
}
.nav__body:hover {
  background-color: #dadbdf;
}

.nav__text {
  transition: color 0.2s ease-in;
}

svg {
  width: 17px;
  height: 17px;
  fill: #4d577b;
  margin-right: 10px;
  transition: fill 0.3s ease-in;
}


/* Active Link */
.active .nav__body {
  background: #4d577b;
}

.active .nav__text {
  color: white;
}

.active svg {
  fill: white;
}
