/* common */
.input {
  font-size: 15px;
  width: 300px;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #dadbdf;
}

.input + .input {
  margin-left: 20px;
}

.inputRequire {
  color: red;
}

/* Steps */
.title {
  text-align: center;
  margin-bottom: 50px;
}

.stepTitle {
  border-bottom: 1px solid var(--color-light);
  margin-bottom: 20px;
  color: var(--color-grey);
  font-size: 14px;
}