.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.preloader__item {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 10px solid #f3f3f3;
  border-top: 8px solid #505050;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
