.nav {
  grid-area: n;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  border: 1px solid #ede9e9;
  background-color: #fff;
  padding: 20px 10px;
  margin-right: 10px;
}

.nav a {
  font-size: 14px;
  color: #797979;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.nav a:hover {
  color: rgb(133, 133, 255);
}

.nav a + a {
  margin-top  : 20px;
}