.active {
  color: gold !important;
}

.aside {
  padding-right: 10px;
}

.nav {
  grid-area: n;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  border: 1px solid #ede9e9;
  background-color: #fff;
  padding: 20px 10px;
}

.nav a {
  font-size: 14px;
  color: #797979;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.nav a:hover {
  color: rgb(133, 133, 255);
}

.nav a + a {
  margin-top  : 20px;
}


/* friends========= */

.friends {
  grid-area: n;
  margin-top: 10px;
  padding: 20px 10px;
  background-color: #fff;
}

.friends__header {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: auto;
  text-decoration: none;
}
.friends__header h2 {
  font-size: 15px;
  color: #797979;
  font-weight: 400;
  margin: 0;
  margin-right: auto;
}

.friends__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.friends__list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.friends__list img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

