.nav a {
  margin-bottom: 10px;
}

/* Media */
/* @media screen and (max-width: 576px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  .nav a:nth-child(5),
  .nav a:nth-child(7) {
    display: none;
    background-color: red;
  }
  .nav a {
    max-width: 50px;
    width: 100%;
  }
  .nav .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    border-radius: 0;
  }
  .body svg {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .body h3 {
    display: none;
  }

  Active Link
  .active .body {
    background: transparent;
    border-bottom: 2px solid;
    border-color: var(--color-fill);
  }
  .active .body h3 {
    color: var(--color-fill);
  }
  .active svg {
    fill: var(--color-fill);
  }
} */
