@import '../fonts/fonts.css';

:root {
  --header-height: 75px; 
  --container-height: calc(100vh - var(--header-height)); 
  --container-background: rgba(200, 200, 200, 0.1);
  --svg-fill: #4d577b;

  --color-main: #42547a;
  --color-white: white;
  --color-blue: #3a89ed;
  --color-blue-light: #0574ff;
  --color-grey: rgb(176, 176, 176);
  --color-light: rgb(213 213 213);

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Pacifico', sans-serif;
  background-color: #ffffff;
  font-size: 15px;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, sans-serif;
  line-height: 1;
  color: #42547a;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #42547a;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container__side {
  max-width: 250px;
  width: 100%;
  background-color: white;
}

.container__center {
  background-color: var(--container-background);
  border-radius: 20px 20px 0 0;
  min-height: var(--container-height);
}

.container__side--left {
  padding-right: 20px;
  padding-top: 15px;
}

.container__side--right {
  padding-left: 20px;
}

.container__center--wrapper {
  padding: 20px 20px 0 20px;
}
 
.container--small {
  width: 100%;
  margin: 0 auto;
}

.menu_btn {
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
}
