@import '../fonts/fonts.css';

:root {
  --header-height: 75px; 
  --container-height: calc(100vh - var(--header-height)); 
  --container-background: rgba(200, 200, 200, 0.1);
  --svg-fill: #4d577b;

  --color-main: #42547a;
  --color-white: white;
  --color-blue: #0574ff;
  --color-blue-light:  #3a89ed;
  --color-grey: rgb(176, 176, 176);
  --color-light: rgb(213 213 213);
  --color-super-light: #f6f6f6;

  --size-container: 1220px;
  --size-container-side: 250px

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Pacifico', sans-serif;
  background-color: #ffffff;
  font-size: 15px;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, sans-serif;
  line-height: 1;
  color: #42547a;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #42547a;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}

a {
  text-decoration: none;
}


/* Containers */
.container {
  max-width: var(--size-container);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container--small {
  width: 100%;
  margin: 0 auto;
}

.container__side {
  max-width: var(--size-container-side);
  width: 100%;
  padding-right: 20px;
  padding-top: 15px;
  background-color: white;
}

.container__center {
  display: flex;
  min-height: var(--container-height);
}

.container_center--small {
  padding: 20px 20px 0 20px;
  border-radius: 20px 20px 0 0;
  background-color: var(--container-background);
}

.menu_btn {
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
}

.avatar {
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.avatar_large {
  width: 50px;
  height: 50px;
}

.avatar_small {
  width: 40px;
  height: 40px;
}
