body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Pacifico', sans-serif;
  background-color: #ffffff;
  font-size: 15px;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, sans-serif;
  line-height: 1;
  color: #42547a;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #42547a;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}

a {
  text-decoration: none;
}


/* Containers */
.container {
  max-width: var(--size-container);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container--small {
  width: 100%;
  margin: 0 auto;
}

.container__side {
  max-width: var(--size-container-side);
  width: 100%;
  padding-right: 20px;
  padding-top: 15px;
  background-color: white;
}

.container__center {
  display: flex;
  min-height: var(--container-height);
}

.container_center--small {
  flex: 1;
  padding: 20px 20px 0 20px;
  border-radius: 20px 20px 0 0;
  background-color: var(--container-background);
}

.item {
  padding: 20px;
  width: 100%;
  
  background-color: var(--color-white);
  box-shadow: 0 6px 10px rgb(138 138 138 / 10%);
  border-radius: 14px;
  overflow: hidden;
}

.menu_btn {
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
}

.avatar {
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.avatar_large {
  width: 50px;
  height: 50px;
}

.avatar_small {
  width: 40px;
  height: 40px;
}