.post {
  margin-bottom: 30px;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.header__name {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.header__name h3 {
  font-weight: 700;
  margin-bottom: 8px;
}
.header__name span {
  color: var(--color-grey);
  font-size: 13px;
}


/* Description */
.description {
  padding-bottom: 20px;
}


/* Post content */
.content__picture {
  width: 100%;
  overflow: hidden;
  max-height: 450px;
}
.content__picture img {
  border-radius: 20px;
  width: 100%;
}

.content__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Info */
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.info__people_likes {
  display: flex;
  align-items: center;
} 

.info__people_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 25px;
  height: 25px;

  background-color: var(--color-main);
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
}
.info__people_item:nth-child(2) {
  left: -10px;
}
.info__people_item:nth-child(3) {
  left: -20px;
}

.info__people_item span {
  margin: 0 auto;
  color: var(--color-white);
  font-size: 13px;
}

.info__reaction span {
  color: var(--color-grey);
  font-size: 14px;
}

.info__reaction span:first-child {
  margin-right: 30px;
}


/* Actions */
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border: 1px solid var(--color-light);
  border-left: none;
  border-right: none;
}

.actions__item {
  display: flex;
  align-items: center;
}


/* Comment */
.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.comment img {
  margin-right: 10px;
}

.comment__send {
  background-color: #dcebff;
  border: none;
  height: 41px;
  max-width: 41px;
  width: 100%;
  margin-left: 10px;
  border-radius: 10px;

  cursor: pointer;
  transition: all .2s ease-in;
}
.comment__send:hover {
  background-color: #c0dbff;
}

.comment__send svg {
  fill: var(--color-blue-light);
  width: 70%;
}


/* Media */
@media screen and (max-width: 576px) {
  button {
    color: red;
  }
}
