.wrapper {
  position: relative;
  margin-bottom: 30px;
}

.wrapper input {
  font-size: 15px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #dadbdf;
}

.errInput {
  border: 1px solid tomato !important;
}

.wrapper span {
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 14px;
  color: tomato;
}
