.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.users__header {
  margin-bottom: 15px;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

