#root {
  background-color: #f3f0f0;
}

.content {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 75px 1fr;
  grid-template-areas: 
  'header header'
  'navbar main'
  ;
  grid-gap: 5px;
  grid-template-columns: 150px minmax(200px, 1fr);
  grid-auto-flow: dense;

  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 10px;
}

.content__wrapper {
  grid-area: main;
  min-height: 88vh;
  background-color: #fff;
  border: 1px solid #ede9e9;
}
