#root {
  background-color: #f3f0f0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: (1fr, 1fr);
  grid-template-areas: 
  'h h'
  'n m'
  ;
  width: 1200px; 
  margin: 0 auto;
}

.content__wrapper {
  grid-area: m;
  background-color: #fff;
  border: 1px solid #ede9e9;
  min-height: 88vh;
}
