@import './fonts/fonts.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Pacifico', sans-serif;
  background-color: #ffffff;
  font-size: 15px;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, sans-serif;
  line-height: 1;
  color: #42547a;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #42547a;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container__side {
  max-width: 250px;
  width: 100%;
  background-color: white;
}

.container__center {
  background-color: #f2f2f2;
  border-radius: 20px 20px 0 0 ;
}

.container__side--left {
  padding-right: 20px;
  padding-top: 15px;
}

.container__side--right {
  padding-left: 20px;
}

.container__center--wrapper {
  padding: 20px 20px 0 20px;
}
 
.container--small {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
