.aside {
  padding-left: 20px;
  max-width: var(--size-container-side);
  width: 100%;
  background-color: white;
}

.aside__wrapper {
  display: flex;
  flex-direction: column;
}

/* Friends */
.friends {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.friends__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.friends__title {
  font-weight: inherit;
}

.friends__body {
  margin-top: 20px;
}

/* Friend */
.friend {
  display: flex;
  align-items: center;
}

.friend + .friend {
  margin-top: 15px;
}

.friend__avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%;
  overflow: hidden;
}

.friend__name {
  font-weight: 400;
  margin-left: 15px;
}

.friend__initials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
  font-weight: 700;
}

.friend__condition {
  margin-left: auto;
  
}

.friend__online {
  display: block;
  width: 8px;
  height: 8px;
  background-color: lawngreen;
  border-radius: 50%;
}

.friend__offline {
  color: #757575;
  font-size: 12px;
}

